html{
    scroll-behavior: smooth;
}
input, textarea{
    outline: none;
    border-radius: 4px;
    padding: 4px 3px;
}
:root{
    --primary-color:#f2f2f2;
    --secondary-color: #000000;
    --third-color:#433BFF;
    --fourth-color:#9791FF;
    --fifh-color:#D9D9D9;
    --sixth-color:#E5E4E4;
    --seventh-color:#505050;
}
body{
    background-color: var(--primary-color);
    font-family: Inter;
    overflow-x: hidden;
    
}
p, h1, h2{
    color: var(--secondary-color);
}
@keyframes landings-right{
    0%{
        transform: translateX(50vw);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes landings-left{
    0%{
        transform: translateX(-50vw);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    transform: translateX(50vw);
    transition: all 0s;
}
.fade-in2{
    opacity: 0;
    transform: translateX(50vw);
    transition: all 0s;
}
.fade-in3{
    opacity: 0;
    transform: translateX(-50vw);
    transition: all 0s;
}
.visible{
    opacity: 1;
    transform: translateX(0);
}
.header{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 50px;
    width: 100vw; 
    align-items: center;
}
.header-text{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight:500;
    width: 50vw;
    left: 25%;
    color: var(--secondary-color);
    text-decoration: none;
}

.header-text a{
    transition: all linear 0.08s;
    cursor: pointer;
        text-decoration: none;
        color: var(--secondary-color);
}
.header-text a:hover{
    color: var(--third-color);
    transform: scale(1.15);
    font-weight: 700;
}
.lightmode{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    width: 45px;
    justify-content: center;
    background-color:var(--fifh-color);
    height: 40px;
    align-items: center;
    border-radius: 100px;
    transition: all ease-in 0.2s;
    border-style: none;
}
.lightmode img{
    height: 25px;
    width: 25px;
    transition: all ease-in 0.2s;
}
.lightmode img:hover{
    transform: scale(1.2);
}
.lightmode:hover{
    background-color: rgb(53, 53, 53);
}
.landing-page{
    display: flex;
    margin-top: 20vh;
    margin-left: 15vw;
    max-width: 70vw;
    animation-name: landings-right;
    animation-duration: 1s;
}
.hitext p{
    font-size:76.77px;
    font-weight: bold;
    margin-bottom: 0;
}
.hitext span{
    color: var(--third-color);
}
.left-side{
    display: flex;
    flex-direction: column;
}
.left-upper{
    display: flex;
    margin-bottom: 0;
}
.left-lower{
    display: flex;
    flex-direction: column;
}
.left-1 p{
    font-weight: 500;
    font-size:38.39px;
    margin-top: 0;
}
.left-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.left-2 button{
    font-size: 21.59px;
    color: var(--primary-color);
    height: 53.98px;
    width: 200px;
}
.contact-me-button{
    background-color: var(--third-color);
    border: none;
    border-radius: 12px;
    transition: all .15s ease-out;
    color: white !important;
}
.contact-me-button:hover{
    transform: scale(1.1);
    box-shadow: 2px 5px 15px rgba(67, 59, 255, 1);
}
.download-cv-button{
    background-color: var(--fourth-color);
    border:none;
    border-radius: 12px;
    align-items: center;
    text-align: center;
    transition: all .15s ease-out;
    color: white !important;
}
.download-cv-button:hover{
    transform: scale(1.1);
    box-shadow:2px 5px 15px rgba(141, 155, 255, 1);
}
.left31{
    font-weight: 500;
    font-size: 28.79px;
    margin-bottom: 0;
    margin-top: 15px;
}
.left32{
    font-weight: 500;
    font-size: 21.59px;
    margin-top: 0;
    color: var(--secondary-color);
    opacity: .5;
}
.right-side{
    margin-left: 7vw;
    margin-top: 6vh;
}
.right-side img{
    position: absolute;
    width: 562.94px;
    height: 509.01px;
    z-index: 3; 
    margin-left: -2vw;
}
.circle1{
    position: absolute;
    background-color: #DEDCFF;
    width: 523.36px;
    height: 523.36px;
    border-radius: 500px;
    z-index: 1;
}

.black-bar{
    position: absolute;
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    height: 13vh;
    margin-top: 6vh;
    background-color: black;
    z-index: 4;
    border-radius: 53px;
    justify-content: space-evenly;
    animation-name: landings-left;
    animation-duration: 1s;
}
.bb1, .bb2, .bb3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    margin-left: -2vw;
}
.black-bar h1{
    color: white;
    font-weight: 600;
    font-size: 54.59px;
    margin-bottom: 0;
    margin-top: 10px;
}
.black-bar p{
    color: white;
    font-weight: 500;
    font-size: 21.33px;
    margin-top: 5px;
}
.about-me{
    display: flex;
    flex-direction: row;
    margin-left: 15vw;
    max-width: 75%;
    margin-top: 30vh;
}
.about-me h1{
    font-weight: bold;
    font-size: 45px;
}
.about-me h2{
    margin-top: 0;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0;
}
.about-me p{
    font-size: 22px;
    line-height: 1.6;
    text-wrap: wrap;
}
.about-me span{
    color: var(--third-color);
}
.about-left-side{
    display: flex;
    flex-direction: column;

}
.about-right-side img{
    width: 400px;
    height: 360px;
    margin-left: 10vw;
    margin-top: 5vh;
}
.projects{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
}
.projects h1{
    color: var(--third-color);
    font-weight: bold;
    font-size: 45px;
}
.projects p{
    font-size: 22px;
    line-height: 1.8;
    font-weight: 400;
}
.projects-grid{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10vh;
    column-gap: 52px;
    width: 80%;
    margin-left: 10vw;
}
.prj1, .prj2, .prj3{
    width: 407px;
    height: 218.6px;
    border: 1px solid var(--secondary-color);
    filter: grayscale(100%);
    transition: all ease-out 0.15s;
}
.prj2{
    margin-left: 35%;
}
.prj2hidden{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--sixth-color);
    opacity: 0;
    transform: scale(0.01);
    width: 90%;
    margin-left: 5%;
    margin-top: -3px;
}
.prj2hidden h1{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    color: var(--secondary-color);
}
.prj2hidden p{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: var(--secondary-color);
}
.links{
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: space-evenly;
    margin-bottom: 5px;
}
.prj2:hover .prj2hidden{
    opacity: 1;
    transform: scale(1);
}
.prj1:hover, .prj2:hover, .prj3:hover{
    transform: scale(1.1);
    filter: grayscale(0);
    margin-bottom: 10vh;
}
.prj2 img, .prj1 img, .prj3 img{
    width: inherit;
    height: inherit;
    object-fit: cover;

}

.form{
    display: flex;
    flex-direction: row;
    margin-left: 15vw;
    margin-top: 13vh;
    max-width: 70vw;
    justify-content: space-evenly;
}
.form-left-side{
    display: flex;
    flex-direction: column;
}
.form-left-side h1{
    font-size: 45px;
    color: var(--third-color);
    font-weight: 700;
}
.form-left-side p{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}
.form-left-side span{
    color: var(--third-color);
}
.form-right-side{
    display: flex;
    flex-direction: column;
}
.name-input, .surname-input{
    background-color: var(--sixth-color);
    border: none;
    height: 32px;
    width: 300px;
    font-weight: 500;
    margin-right: 20px;
    padding-left: 5px;
}
.email-input{
    background-color: var(--sixth-color);
    color: var(--seventh-color);
    border: none;
    height: 32px;
    margin-top: 10px;
    width: 630px;
    font-weight: 500;
    padding-left: 5px;
}
.message-input{
    background-color: var(--sixth-color);
    border: none;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    width: 630px;
    margin-top: 10px;
    height: 200px;
    padding-left: 5px;
}
.submit-button{
    background-color: var(--third-color);
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    height: 36.36px;
    width: 120px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    transition: all ease-out 0.15s;
}
.submit-button:hover{
    transform: scale(1.1);
    box-shadow: 2px 4px 8px rgba(67, 59, 255, 0.5);
}
.pages-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10vh;
}
.box1, .box2{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondary-color);
    border-radius: 12px;
    height: 140px;
    width: 300px;
    align-items: center;
    justify-content: center;
}
.box1 button, .box2 button{
    height: 49px;
    width: 260px;
    background-color: var(--third-color);
    border: none;
    border-radius: 12px;
    color: white;
    align-items: center;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    margin-top: 10px;
    transition: all ease-out 0.15s;
}
.box1 button:hover, .box2 button:hover{
    transform: scale(1.1);
    box-shadow: 3px 5px 5px rgba(67, 59, 255, 0.5);
}
.btnimg{
    height: 22px;
    width: 22px;
    margin-bottom: -5px;
}
.boximg{
    height: 60px;
    width: 60px;
}
hr{
    margin-top: 50px;
}
.final-text{
    text-align: center;
    margin-bottom: 0;
    font-weight: 400;
}

@media (min-width: 900px) and (max-width:1600px) {
    html{
        overflow-y: hidden;
    }
    .projects-grid, .projects{
        transform: scale(0.89);
        margin-left: 6.5%;
    }
    .about-me{
        transform: scale(0.89);
        justify-content: space-evenly;
        flex-direction: row;
        max-width: 85%;
        margin-left: 6.5%;
    }
    .about-right-side img{
        transform: scale(0.89);
        margin-top: 10vh;
    }
    .landing-page{
        margin-left: 12vw;
        transform: scale(0.89);
        margin-top: 10vh;
    }
    .black-bar{
        margin-top: 0vh;
        height: 14vh;
    }
    .name-input{
        margin-bottom: 10px;
    }
    .form{
        transform: scale(0.89);
    }
    .box1, .box2{
        transform: scale(0.89);
        margin-left: 0;
    }
}
@media (max-width: 480px){
    html{
        max-width: 100vw;
    }
    body{
        max-width:100dvw;
        width: auto;
        overflow-x:hidden;
        white-space:nowrap;
    }
    .header-text{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 70%;
        left: 17%;
    }
    .left-side{
        width: 100%;
    }
    .hitext{
        text-align: center;
        width: 100%;
    }
    .left-upper{
        width: 100%;
    }
    .header-text a{
        font-size: 14px;
    }
    .hitext p{
        font-size: 30px;
    }
    .left-1, .left-3{
        text-align: center;
    }
    .left-2{
        width: 100%;
        justify-content: space-evenly;
    }
    .landing-page{
        flex-direction: column;
        margin-left: 0;
        display: flex;
        margin-top: 100px;
        width: 100%;
        max-width: 100%;
    }
    .right-side img, .circle1{
        transform: scale(0.6);
        margin-left: -15%;
    }
    .right-side img{
        margin-left: -20%;
    }
    .right-side{
        margin-left: 0;
        margin-top: -100px;
    }
    .left-side{
        justify-content: center;
        overflow-x: visible;
    }
    .left-1 p{
        font-size: 20px;
    }
    .left-2 button{
        width: 100px;
        height: 35px;
        font-size: 14px;
    }
    .left-2 img{
        transform: scale(0.65);
        margin-bottom: -6px;
    }
    .left31{
        font-size: 15.45px;    
    }
    .left32{
        font-size: 13.9px;
    }
    .black-bar{
        position: absolute;
        margin-top: 350px;
        height: 80px;
    }
    .black-bar h1{
        font-size: 25px;
    }
    .black-bar p{
        font-size: 13px;
    }
    .about-me{
        max-width: 100%;
        margin-left: 0;
        margin-top: 120%;
        flex-direction: column;
        text-align: center;
    }
    .about-me h1, .projects h1{
        font-size: 26px;
    }
    .about-me h2{
        font-size: 16.5px;
    }
    .about-me p, .projects p{
        font-size: 14px;
        text-wrap: wrap;
    }
    .about-right-side img{
        display: none;
    }
    .projects{
        margin-top: 5%;
        margin-left: 0;
        text-align: center;
    }

    .projects-grid{
        margin-left: 0;
        max-width: 100%;
        width: 100%;
        column-gap: 5px;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        align-items: center;
    }
    .prj1, .prj2, .prj3{
        transform: scale(0.8) !important;
    }
    .prj2hidden p{
        font-size: 10px;
    }
    .prj2hidden h1{
        font-size: 13px;
    }
    .form{
        flex-direction: column;
        margin-left: 0;
        text-align: center;
        max-width: 100%;
        justify-content: center;
    }
    .form-left-side h1{
        font-size: 26px;
    }
    .form-left-side p, .form-left-side span{
        font-size: 14px;
    }
    .name-input{
        display: block;
        margin-bottom: 8px;
    }
    .email-input{
        width: 300px;
    }
    .message-input{
        width: 300px;
    }
    .pages-links{
        flex-direction: column;
        margin-top: 10%;
    }
    .box1, .box2{
        transform: scale(0.8);
        align-self: center;
    }
    .prj2{
        overflow-x:visible;
        margin-left: 0;
    }
    .prj2:hover .prj2hidden{
        transform: scale(0.9);
    }
    .prj2.hover{
        transform: scale(0.9);
        filter: grayscale(0);
    }
    .prj2hidden:hover{
        opacity: 1;
        transform: scale(1);
    }
    .prj2 p{
        font-size: 13px;
    }
    .prj2 h1{
        font-size: 16px;
    }
    .name-input{
        margin-right: 0;
        margin-left: 0;
    }
    .surname-input{
        margin-left: 0;
        margin-right: 0;
    }
    .namesur{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:409px){
    .black-bar{
        width: 100%;
        margin-left: -2%;
    }
    .right-side img, .circle1{
        transform: scale(0.55);
        margin-left: -25%;
    }
    .right-side img{
        margin-left: -30%
    }
    .about-me{
        margin-top: 130%;
    }
    .about-me h1, .projects h1{
        font-size: 22px;
    }
    .about-me h2{
        font-size: 12.5px
    }
    .about-me p, .projects p{
        font-size: 11.5px;
        text-wrap: wrap;
    }
    .prj1, .prj2, .prj3{
        transform: scale(0.75) !important;
    }
    .prj2hidden{
        transform: scale(0.75);
    }
    .prj2:hover{
        transform: scale(0.85);
    }
    .prj2hidden:hover{
        transform: scale(0.9);
    }
        .projects-grid{
        width: 100%;
        align-items: center;
    }
}